
* {
    margin: 0;
    padding: 0;
    user-select:none;
}

// fullpage game
body,
html {
    width: 100%;
    height: 100%;
}

// background sky
body {
    overflow: hidden;

//container
    .container-game {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .navbar {
            width: 150px;
            height: 40px;
            position: absolute;
            top: 0;
            right: 20px;
            display: none;
            ul {
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: row;
                li {
                    a {
                        text-decoration: none;
                        cursor: pointer;
                        i{
                            color: grey;
                        }
                        &:hover {
                            i {
                                color:white;
                            }

                        }
                    }
                }
            }
        }
        .colorSpaceship {
            background: white;
        }
        .testShop {
            background: white;
        }
// welcome page before start the game
        .landing-page {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            flex-direction: column;

            .landing-page-content {
                text-align: center;
                will-change: opacity;
                transition-duration: 1s;

// spaceship presentation
                .lg-spaceship {
                    width: auto;
                    height: 200px;
                    animation-name: ldFloatShip;
                    animation-duration: 1s;
                    animation-iteration-count: infinite;
                    will-change: transform;
                    animation-direction: alternate;
                }

                h1 {
                    font-size: 90px;
                    color: white;
                    font-family: 'Nova Mono', monospace;
                }

                a {
                    text-decoration: none;

// button who trigger the start
                    .ld-start-button {
                        width: 220px;
                        height: 60px;
                        background: #e74c3c;
                        margin: 40px auto;
                        border-radius: 10px;
                        text-align: center;
                        font-family: sans-serif;

                        span {
                            color: white;
                            line-height: 60px;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }

// earth at the bottom
                .ld-earth {
                    position: absolute;
                    width: 200px;
                    height: 200px;
                    margin: 0 auto;
                    bottom: -80px;
                    left: 50%;
                    transform: translateX(-50%);
                    animation-name: ldEarth;
                    animation-duration: 48s;
                    will-change: transform;

                    img {
                        width: 100%;
                        height: auto;
                    }
                }
            }

// when I click on .ld-start-button and I add launch to .landing-page
            &.launch {
                .landing-page-content {
                    .lg-spaceship {
                        animation-name: ldFloatShipLaunch;
                        animation-duration: 1s;
                        animation-iteration-count: 1;
                        animation-fill-mode: forwards;
                        will-change: transform;
                        animation-direction: normal;
                    }
                    opacity: 0;
                }
            }
        }

// game where verything happens
        .game {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .game-menu {
                width: 100px;
                height: 70%;
                position: absolute;
                top: 50%;
                right: 0px;
                background: #ececec;
                transform: translateY(-50%) translateX(100%);
                display: flex;
                flex-direction: column;
                justify-content:  center;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                z-index: 5;
                will-change:transform;
                transition-property: transform;
                transition-duration: 0.4s;
                .game-menu-content {
                    height: 95%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    .game-menu-item {
                        width: 100%;
                        height: 50px;
                        margin: 0 auto;
                        text-align: center;
                        position: relative;


                        img {
                            height: 45px;
                            margin-top: 2.5px;
                            width: auto;
                        }
                        .game-menu-item-details {
                            position: absolute;
                            top: 50%;
                            transform: translateY(-50%);
                            right:calc(100% + 20px) ;
                            width: 200px;
                            height: 60px;
                            display: none;
                            text-align: center;
                            border-radius: 10px;
                            z-index: 1;
                            flex-direction: column;
                            justify-content: center;
                            span {
                                color: white;
                                font-family: sans-serif;
                                display: block;
                                    &.item-name {
                                            font-family: 'Nova Mono', monospace;
                                            margin-bottom: 10px;
                                    }
                            }
                            &:after {
                                content: "";
                                width: 30px;
                                height: 30px;
                                position: absolute;
                                z-index: -1;
                                top: 50%;
                                transform: translateY(-50%) rotate(45deg);
                                left:calc(100% - 20px);
                                background: inherit;
                            }
                        }
                        &:hover {
                            cursor: pointer;
                            .game-menu-item-details {
                                display: flex;
                            }
                        }
                    }
            }
            }
            .game-progression {
                font-family: 'Nova Mono', monospace;
                font-size: 24px;
                color: #ececec;
                text-align: center;
                margin-bottom: 100px;
                will-change: opacity;
                opacity: 0;
                transition-property: opacity;
                transition-duration: 0.5s;
                transition-delay: 1s;
            }
// the spaceship
            .game-spaceship {
                width: 300px;
                height: auto;
                margin: 0 auto;
                text-align: center;
                position: relative;
                will-change: transform;
                transform: translateY(400%);
                transition-property: transform;
                transition-duration: 1s;

                svg {
                    width: calc(100%/2);
                    height: auto;
                    cursor: pointer;

                }

// all data arround our spaceship
                .game-data {
                    position: absolute;
                    display: flex;
                    flex-direction: row-reverse;
                    justify-content: flex-start;
                    align-items: center;
                    color: #ececec;
                    height: 100px;
                    width: auto;



// data about spaceship speed
                    &.game-data-speed {

                        .game-data-stroke {
                            width: 70px;
                        }
                    }
                    &.game-data-radar {

                        .game-data-stroke {
                            width: 130px;
                            height: 2px;
                        }
                    }
                    &.game-data-temp {
                            flex-direction: row;
                        .game-data-stroke {
                            width: 30px;
                            height: 2px;
                        }
                    }

// data about spaceship level of gas
                    &.game-data-tank {

                        .game-data-stroke {
                            width: 120px;
                            height: 5px;
                        }
                        .game-data-info {
                            .unit-loose-nb {
                                display: block;
                                font-size: 15px;
                                position: absolute;
                                top: 0px;
                                left: calc(100% - 35px);
                                width: auto;
                                text-align: left;
                                font-size: 15px;

                            }
                            .units {
                                &.tank {
                                    &::after {
                                        display: block;
                                        content: "% /s";
                                        font-size: 15px;
                                        position: absolute;
                                        top: 0px;
                                        left: 120%;
                                        font-family: "FontAwesome", "Nova Mono";
                                        width: 120px;
                                        text-align: left;
                                    }
                                }
                            }

                        }
                    }

// data about user money
                    &.game-data-money {
                        flex-direction: row;
                        .game-data-stroke {
                            width: 130px;
                        }
                    }
                    &.game-data-armor {
                        flex-direction: row;
                        .game-data-stroke {
                            width: 65px;
                            height: 2px;
                        }
                    }

// general properties to stroke
                    .game-data-stroke {
                        will-change: transform;
                        transform: scaleX(0);
                        transition-property: transform;
                        transition-duration: 0.3s;
                        transition-delay: 0.8s;
                        height: 5px;
                        background: #ececec;
                    }

// general properties to infos
                    .game-data-info {
                        font-family: sans-serif;
                        will-change: transform;
                        transition: opacity;
                        opacity: 0;
                        transition-property: opacity;
                        transition-duration: 0.5s;
                        transition-delay: 1.1s;
                        min-width: 200px;

                        span {
                            color: inherit;
                            font-size: 15px;
                            &.units-min-data {
                                font-size: 10px !important;
                            }
                            &.units {
                                font-family: 'Nova Mono', monospace;
                                font-size: 35px;
                                font-weight: bold;
                                position: relative;

                                    &::after {
                                        display: none;
                                    }
                                    &.unit-max {
                                        color: orange;
                                        &::after {
                                            display: block;
                                            content: "MAX";
                                            font-size: 15px;
                                            position: absolute;
                                            top: 0px;
                                            left: 120%;
                                        }


                                }
                                &.increment {
                                    color: #2ecc71;
                                }
                                &.decrement {
                                    color : #e74c3c;
                                }
                                &.unit-new-value {
                                    color: yellow;
                                    &::after {
                                        display: block;
                                        content: "MAX \f0aa";
                                        font-size: 15px;
                                        position: absolute;
                                        top: 0px;
                                        left: 120%;
                                        font-family: "FontAwesome", "Nova Mono";
                                        text-align: left;
                                        width: 120px;
                                    }


                            }
                            &.tank {
                                span {
                                    font-size: 15px
                                }
                                &.unit-new-value {
                                    color: yellow;
                                    width: auto;
                                    &::after {
                                        display: block;
                                        content: "% /s  \f0aa";
                                        font-size: 15px;
                                        position: absolute;
                                        top: 0px;
                                        left: 120%;
                                        font-family: "FontAwesome", "Nova Mono";
                                        width: 120px;
                                        text-align: left;
                                    }


                            }
                            }
                            &.armor {
                                span {
                                    font-size: 15px
                                }
                                &.unit-max {
                                    color: orange;
                                    &::after {
                                        display: block;
                                        content: "";
                                        font-size: 15px;
                                        position: absolute;
                                        top: 0px;
                                        left: 120%;
                                        font-family: "FontAwesome", "Nova Mono";
                                        width: 120px;
                                        text-align: left;
                                    }
                                }
                                &.unit-new-value {
                                    color: yellow;
                                    width: auto;
                                    &::after {
                                        display: block;
                                        content: "\f0aa";
                                        font-size: 15px;
                                        position: absolute;
                                        top: 0px;
                                        left: 120%;
                                        font-family: "FontAwesome", "Nova Mono";
                                        width: 120px;
                                        text-align: left;
                                    }


                            }
                            }
                            &.radar {
                                span {
                                    font-size: 15px
                                }
                                &.unit-max {
                                    color: orange;
                                    &::after {
                                        display: block;
                                        content: "";
                                        font-size: 15px;
                                        position: absolute;
                                        top: 0px;
                                        left: 120%;
                                        font-family: "FontAwesome", "Nova Mono";
                                        width: 120px;
                                        text-align: left;
                                    }
                                }
                                &.unit-new-value {
                                    color: yellow;
                                    width: auto;
                                    &::after {
                                        display: block;
                                        content: "\f0aa";
                                        font-size: 15px;
                                        position: absolute;
                                        top: 0px;
                                        left: 120%;
                                        font-family: "FontAwesome", "Nova Mono";
                                        width: 120px;
                                        text-align: left;
                                    }


                            }
                            }
                            &.solarResist{
                                span {
                                    font-size: 15px
                                }
                                &.unit-max {
                                    color: orange;
                                    &::after {
                                        display: block;
                                        content: "";
                                        font-size: 15px;
                                        position: absolute;
                                        top: 0px;
                                        left: 120%;
                                        font-family: "FontAwesome", "Nova Mono";
                                        width: 120px;
                                        text-align: left;
                                    }
                                }
                                &.unit-new-value {
                                    color: yellow;
                                    width: auto;
                                    &::after {
                                        display: block;
                                        content: "\f0aa";
                                        font-size: 15px;
                                        position: absolute;
                                        top: 0px;
                                        left: 120%;
                                        font-family: "FontAwesome", "Nova Mono";
                                        width: 120px;
                                        text-align: left;
                                    }


                            }
                            }
                            &.units-min {
                                font-size: 15px !important;
                            }

                            }
                        }

// for data who are on the right side
                        &.game-data-info-r {
                            padding-right: 30px;
                            text-align: right;
                        }
// for data who are on the left side
                        &.game-data-info-l {
                            padding-left: 30px;
                            text-align: left;
                        }
                    }
                }
// properties to lvl-1
                &.spaceship-lvl-1 {
                    .game-data-speed {
                        top: -15px;
                        right: 65%;
                    }
                    .game-data-temp {
                        top: 80px;
                        left: 65%;
                    }
                    .game-data-tank {
                        top: 100px;
                        right: 50%;
                    }
                    .game-data-radar {
                        top: 40px;
                        right: 65%;
                    }
                    .game-data-armor {
                        top: -35px;
                        left: 60%;
                    }
                    .game-data-money {
                        top: 30px;
                        left: 65%;
                    }
                }
            }
// total of data
            .game-total-data {
                margin-top: 100px;
                text-align: center;
                font-size: 35px;
                color: white;
                font-family: 'Nova Mono', monospace;
                will-change:opacity;
                transition: opacity;
                transition-duration: 0.5s;
                transition-delay: 1s;
                opacity: 0;
                span:first-child {
                    font-weight: bolder;
                    font-size: 45px;
                }
                span:last-child {
                    font-weight: lighter;
                }
            }
            .game-stars-shop {
                margin-top: 100px;
                text-align: center;
                font-size: 35px;
                color: white;
                font-family: 'Nova Mono', monospace;
                will-change:opacity;
                transition: opacity;
                transition-duration: 0.5s;
                transition-delay: 1s;
                opacity: 0;
                display: none;
                span:first-child {
                    font-weight: bolder;
                    font-size: 45px;
                }
                span:last-child {
                    font-weight: lighter;
                }
            }

// when I click on .ld-start-button and I add .launched to .game
            &.launched {
                .game-spaceship {
                    transform: translateY(0px);

                    .game-data {
                        .game-data-stroke {
                            transform: scale(1);
                        }

                        .game-data-info {
                            opacity: 1;
                        }
                    }
                }
                .game-progression {
                    opacity: 1;

                }
                .game-total-data {
                    opacity: 1;
                }
            }
            &.changingGalaxy {
                .game-progression {
                    opacity: 0;
                    transition-delay: 0.3s;
                }
                .game-spaceship {
                    transform: translateY(-400%);
                    transition-delay: 1s;
                    .game-data {
                        .game-data-info {
                            transition-delay: 0.3s;
                            opacity: 0;
                        }
                        .game-data-stroke {
                            transform: scaleX(0);
                            transition-delay: 0.5s
                        }

                    }

                }
                .game-total-data {
                    opacity: 0;
                    transition-delay: 0.3s
                }
            }
            &.changingGalaxy-2 {
                opacity: 0;
                .game-spaceship{
                transform: translateY(500%);
            }
            }

        }
        &.menu-open {
            .navbar {
                ul {
                    li {
                        a {
                            &.menu-open {
                                i {
                                    color: orange;
                                }
                            }

                        }
                    }
                }
            }
        .game {

            .game-spaceship {
                transform: translateX(-50%) scale(1.2);
            }
            .game-menu {
                transform: translateY(-50%) translateX(0%);
            }
            .game-total-data {
                opacity: 0;
                display: none;
            }
            .game-stars-shop {
                display: block;
                opacity: 1;

            }
        }

        }
    }
}


// ANIMATIONS
//Launch page
// Spaceship
@keyframes ldFloatShip {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-30px);
    }
}
@keyframes ldEarth {
    0% {
        transform: translate(-50%, 0%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, 100%) rotate(360deg);
    }
}

// when I click on .ld-start-button and I add .launch to .landing-page
@keyframes ldFloatShipLaunch {
    100% {
        transform: translateY(-300%);
    }
}
